@model DcssePortal.Model.Course

@{
    ViewBag.Title = "Details";
}


<div class="container mt-5 pt-5" style="background-color:#ffecb3;">
    <div class="row justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h3>Course Detail</h3>

            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CourseCode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CourseCode)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CourseTitle)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CourseTitle)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreditHour)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreditHour)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.SecretCode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SecretCode)
                    </dd>

                </dl>
            </div>
            <!--Buttons-->

            <p>
                <div class="mr-5 pb-5">
                    <a href="@Url.Action("Index")" class="btn btn-secondary">
                        <i class="fas fa-backspace"></i>
                        <span>
                            <strong>Back to List</strong>
                        </span>
                    </a>
                </div>
            </p>
        </div>
    </div>
</div>