@model IEnumerable<DcssePortal.Model.Content>

@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid mt-5 pt-3 pb-3" style="color: #566787; background: #f5f5f5; font-family: 'Varela Round', sans-serif; font-size: 15px;">

    <h2>Course Contents</h2>
    @if (User.IsInRole("Faculty"))
    {
        <a href="@Url.Action("Create")" class="btn btn-success float-right mb-2">
            <i class="fas fa-plus-circle"></i>
            <span>
                <strong>Create New</strong>
            </span>
        </a>
    }
    <table class="table table-bordered table-striped table-hover table-responsive-lg" id="myTableName1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContentTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentUrl)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a href="@Url.Action("Download",new { id=item.ID})">Download</a>
                </td>

            </tr>
        }

    </table>
</div>


<script>
    $(document).ready(function () {
        $('#myTableName1').DataTable();
    });
</script>