@model IEnumerable<DcssePortal.Model.Content>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid mt-5 pt-3" style="color: #566787; background: #f5f5f5; font-family: 'Varela Round', sans-serif; font-size: 15px;">


    <h3>
        <b>Lectures</b>
    </h3>

    <a href="@Url.Action("Create")" class="btn btn-success float-right mb-2">
        <i class="fas fa-plus-circle"></i>
        <span>
            <strong>Add New Lecture</strong>
        </span>
    </a>
    <table id="myTableName1" class="table table-bordered table-striped table-hover table-responsive-lg">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ContentTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th data-sort="1">File</th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContentTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td>
                        <a href="@Url.Action("Download", new { id=item.ID})">
                            Download
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Delete",new { id=item.ID} )" class=" " style="font-size:20px; color:red; display:inline-block; margin-right:15px;" data-toggle="tooltip" title="Delete">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>



<script>
    $(document).ready(function () {
        $('#myTableName1').DataTable();
    });
</script>