@model DcssePortal.Model.Student

@{
  ViewBag.Title = "Details";
  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-5 pt-5" style="background-color:#ffecb3;">
    <div class="row justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h3>Details Student</h3>

            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Batch)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Batch)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DOB)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DOB)
                    </dd>
                </dl>
            </div>
            <p>
                <div class="mr-5 mt-3">
                    <a href="@Url.Action("Index")" class="btn btn-secondary">
                        <i class="fas fa-backspace"></i>
                        <span>
                            <strong>Back to List</strong>
                        </span>
                    </a>
                </div>
            </p>
        </div>
    </div>
</div>