@model DcssePortal.Model.Admin

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-5 pt-5" style="background-color:#ffecb3;"> 
    <div class="row justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h3>Edit Admin</h3>
            <div class="text-danger">
                @Html.ValidationSummary(false)
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group form-row mt-3 mb-1">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label ml-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group form-row mt-3 mb-1">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label ml-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-actions mt-5">
                    <div class="col-md-offset-2 col-md-12">
                        <input type="submit" value="Save" class="btn btn-success btn-lg my-4" />
                    </div>
                    <div class="col-md-offset-2 col-md-12">
                        <input type="submit" value="Save" class="btn btn-success btn-lg my-4" />
                    </div>
                </div>*@

                    <div class="form-actions  mt-5 pb-5">
                        <button type="submit" value="Save" class="btn btn-success mr-5">
                            <i class="fas fa-save"></i>
                            <strong>Save</strong>
                        </button>
                        <a href="@Url.Action("Index")" class="btn btn-secondary">
                            <i class="fas fa-backspace"></i>
                            <span>
                                <strong>Back to List</strong>
                            </span>
                        </a>
                    </div>
                </div>
            }
        </div>

    </div>
</div>